//Light mode
$main-blue: #0063AD;
$light-blue: #1973B5;
$dark-blue: #004579;
$main-green: #91C01B;
$main-red: #DB0817;
$light: #FFFFFF;
$main-bg: #E5E5E5;

//Dark mode
$main-blue-dark: #004F8A;
$light-blue-dark: #0076CE;
$dark-blue-dark: #06375C;
$main-green-dark: #91C01B;
$main-red-dark: #DB0817;
$light-dark: #B3D0E6;
$white: #ffffff;
$main-bg-dark: #04243C;

