@import "./colorSchema.scss";

.top-bar__container{
  background-color: $light-blue;
  width: 100%;
  height: 120px;
  padding-block: 20px;
  padding-inline: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: sticky;
  top: 0;
  z-index: 100;
}

.top-bar__title{
  margin-block: 0;
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
  span{
    font-weight: bold;
  }
}

.top-bar__interactions{
  display: flex;
}

.top-bar__search{
  height: 45px;
  border-radius: 5px;
  width: 350px;
  border: 1px solid $dark-blue;
  padding-left: 10px;
  padding-right: 35px;
  box-sizing: border-box;
  font-size: 16px;

}
.top-bar__search-container{
  position: relative;
  margin-right: 20px;
  width: 350px;
  &::before{
    content: '';
    background: url("./../assets/search-light.svg");
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.top-bar__action{
  height: 45px;
  display: flex;
  background-color: $main-green;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding-inline: 10px;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.top-bar__add{
  display: block;
  width: 25px;
  margin-left: 15px;
}

@media (prefers-color-scheme: dark){
  .top-bar__container{
    background-color: $dark-blue-dark;
  }
  .top-bar__search{
    background-color: $light-blue-dark;
    color: $light-dark;
    border: $dark-blue-dark;
    &::placeholder{
      color: $light-dark;
    }
  }
  .top-bar__search-container{
    &::before{
      background: url("./../assets/search.svg");
    }
  }

}
